@model FoodOrderingSystem.Models.MenuItemCategoryViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<div class="row">
    <div class="col-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MenuItems.Name" class="control-label"></label>
                <input asp-for="MenuItems.Name" class="form-control" />
                <span asp-validation-for="MenuItems.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuItems.Price" class="control-label"></label>
                <input asp-for="MenuItems.Price" class="form-control" />
                <span asp-validation-for="MenuItems.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuItems.Active"></label>
                <input asp-for="MenuItems.Active" />
                <span asp-validation-for="MenuItems.Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuItems.DateOfLaunch" class="control-label"></label>
                <input asp-for="MenuItems.DateOfLaunch" class="form-control" />
                <span asp-validation-for="MenuItems.DateOfLaunch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuItems.CategoryId" class="control-label"></label>
                <select asp-for="MenuItems.CategoryId" class="form-control"
                        asp-items="@(new SelectList(Model.Categories,"Id",
                        "Name"))">
                </select>
                <span asp-validation-for="MenuItems.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuItems.FreeDelivery"></label>
                <input asp-for="MenuItems.FreeDelivery" />
                <span asp-validation-for="MenuItems.FreeDelivery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}